@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&display=swap');

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 50px;
  background: hsl(295, 96%, 11%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

header h1 {
  font-family: "Lobster", sans-serif;
  padding-left: 1%;
  transform: translateY(3px);
}

nav {
  flex-grow: 1; 
}

menu {
  display: flex;
  flex-direction: row !important;
  list-style: none;
  align-items: center;
  width: 100%;
}

menu li a, menu li span {
  color: white;
  padding: 19px 15px;
  text-decoration: none;
}

menu li a:hover {
  background-color: hsl(295, 96%, 14%);
}

menu li:last-child {
  margin-left: auto;
}

.vibe-main {
  display: grid !important;
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  align-items: start; 
  flex-grow: 1; 
}

.card {
  width: 100%; 
  min-width: 0; 
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 12px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
}

.card h2 {
  color: white;
}

.queue-section {
  padding: 10px;
  font-size: 0.9rem; 
}

.songQue ol {
  padding-left: 20px;
  margin: 0;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px; 
  margin-left: -19.5px;
  width: 107%; 
  min-width: 0; 
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 12px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 90%;
}

.like-container {
  display: flex;
  align-items: center;
  gap: 5px; 
  width: 25%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.lb {
  padding: 2px 8px !important; 
  font-size: 0.8rem !important;
  height: auto;
  min-width: unset;
  
}

#search {
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
}

#searchtext {
  position: relative;
  right: -2px;
}

.btn-primary {
  align-self: flex-start; 
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

footer {
  flex: 0 50px;
  background: hsl(295, 96%, 11%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer span, footer a {
  padding: 0.25%;
  align-items: center;
}